{% extends "HealthCentre/layout.html" %}

{% block title %}
VIT Vellore Health Centre
{% endblock %}

{% block bodytag %}

  {% load static %}
  <body background="{% static 'HealthCentre/images/bg.png' %}" style="background-size: auto auto;">

{% endblock %}

{% block body %}
    <br>

    <div class="jumbotron jumbotron-fluid" style = "margin-left:5%;margin-right:5%;background:rgba(0,0,0,0.6);color:white;">
        <div class="container">

            <h1 >Address</h1>

            <p class="lead">Opposite Main Building , VIT Vellore , Tamil Nadu</p>
            <button class="btn btn-info" >Pin Code : 632014</button>

            <br>
            <br>

            <h1>Email</h1>

            <p class="lead">Suggestions and feedback are thoroughly welcomed.</p>
            <button class="btn btn-info" >healthcentre@vit.ac.in</button>

            <br>
            <br>

            <h1 >Reception Contact Numbers</h1>

            <p class="lead">Please feel free to call us anytime. 24 x 7 Helpline Availability.</p>
            <button class="btn btn-info" >Contact Numbers : 91-4162202000 , 91-4162202217</button>

        </div>
    </div>

{% endblock %}
